// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
// endbower

@import "default/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Rubik|Timmana');
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
// =====================================


body{
	font:16px/28px 'Rubik', sans-serif;
	background-color:#eaeaea;
	color:#333;
}

.semua{
	// @include span(10)
	width:1024px;
	// width:90%;
	margin:auto;
	// padding:20px;
	background-color:snow;
}

.navigasi{
	text-align:center;
	padding:5px 20px;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
	
	ul li{
		display:inline-block;
		margin:5px;
	
		a{
			text-decoration:none;
			padding:5px;
			font-size: 25px;
			color:DodgerBlue;
			font-weight: bold;
			font-family: 'Timmana', sans-serif;
			letter-spacing: 2px;
		}
		a:hover{
			color:Azure;
			background-color:DeepSkyBlue;
		}
	}
}

.header{
	padding:20px;
	text-align:center;
	margin-bottom:-20px;

	h1{
		color:SteelBlue;
		margin-bottom:-20px;
	}
	h2{
		color:teal;
		margin-bottom:-10px
	}
	p{
		font-family: 'Dancing Script', cursive;
		font-size: 25px;

	}

	.foto{
		width: 200px;
		height:200px;
		background-color:lightblue;
		margin:15px auto -30px;
		border-radius: 10px;
		background-image: url("../img/pp.jpg");
		background-size: cover;
	}
}

.content{
	padding: 0px 20px;
	// display:inline-block;
	
	.con-group{
		width: 100%;
		display:inline-block;
		// background-color:lightblue;
		margin-bottom:5px;
	}
	
	.judul{
		width:200px;
		// background-color:DeepSkyBlue;
		display:inline-block;
		float: left;
		text-align: right;
		padding-right: 10px;
		box-sizing:border-box;
		h2{
			margin-bottom:-15px;
			color:SteelBlue;
		}
		p{color:darkgrey;}
	}
	
	.isi{
		width:77%;
		// background-color:aqua;
		display:inline-block;
		border-left: 5px solid black;
		padding:2px 10px;
		// box-sizing:border-box;
		
		.tambahan{
			width:200px;
			float:right;
			padding:10px;
			padding-bottom:0px;
			margin: 10px 0px;
			// background-color:DeepSkyBlue;

			.socmed{
				font-size: 42px;
				text-align:center;
				letter-spacing: 5px;
				a{color:#333;}
				

			}
			i{
				margin-bottom:10px;
				font-size: 18px;
				font-weight: bold;
				color:teal;
			}
		}

	}

	.box{
		width:170px;
		height: 170px;
		display: inline-block;
		text-align: center;
		float: left;
		margin:5px;
		// background-color:lightgreen;
		img{
			width:128px;
			height:128px;
			margin:auto;
		}
	}

	.tahun{
		width:150px;
		display: inline-block;
		margin-top: 19px;
		float: left;
		color: SteelBlue;
		font-weight: bold;
		font-size: 16px;
	}
	.detil{
		width: 500px;
		display: inline-block;
		float: left;
		h2{margin-bottom: 5px;
			color: DodgerBlue;}
		p{margin-top:-10px;}
	}
}

.footer{
	@include span(12)
	text-align:center;
	margin-top:20px;
	background-color:rgba(6,44,73,0.4);
	box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.4);

}